body {
    background-image: url("https://farm5.staticflickr.com/4351/36998779402_a0133591e9_h.jpg");
    
}
p {
    border: 5px dotted;
    background-color: tomato;
    margin-right: 500px;
    padding: 10px 15px;
    text-size: 55px;
}
div {
    background-color: lightskyblue;
    width: 400px;
    border: 30px;
    padding: 30px;
    margin: 0px;

}



    

